@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-family: "SN Pro", sans-serif;
    font-weight: 300;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
   position: relative; 
}

header .logo{
    font-weight: 600;
    font-size: 20px;
}

header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 80px;
    cursor: pointer;
    transition: opacity 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .shop-cart-batton {
    float: right;
    cursor: pointer;
    transition: opacity, transform 500ms ease;
}

header .shop-cart-batton:hover, 
header .shop-cart.active{
    color: #dc3d3d;
    transform: scale(1.5);
}

header .shop-cart{
    position: absolute;
    top: 50px;
    right: 0px;
    width: 450px;
    background: #f3fff5;
    -webkit-box-shadow: 16px 16px 28px 17px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 16px 16px 28px 17px rgba(0, 0, 0, 0.24);
    box-shadow: 16px 16px 28px 17px rgba(0, 0, 0, 0.24);
    z-index: 1000;
    padding: 20px;
    padding-bottom: 0px;
}

header .shop-cart .empty h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

header .shop-cart .item {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

header .shop-cart .item img {
    width: 70px;
    float: left;
    margin-right: 20px;
}

header .shop-cart .item h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

header .shop-cart .item p {
    color: #797979;
    font-weight: 600;
}

header .shop-cart .item .delete-icon {
    color: #4a4a4a;
    float: right;
    position: relative;
    top: -25px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

header .shop-cart .item .delete-icon:hover {
    color: black;
    transform: scale(1.5);
}

header .shop-cart .summa {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 10px;
}

header .presentation {
    margin: 50px 0;
    background: url("./images/mh75-showroom.jpg");
    width: 100%;
    height: 500px;
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
    position: relative;
}

header .presentation::after {
    content: "Лучшая мебель для вашего дома";
    position: absolute;
    top: 10px;
    left: 40px;
    width: 300px;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}

header .presentation::before {
    content: "По низким ценам!";
    position: absolute;
    top: 90px;
    left: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.categories div{
    display: inline-block;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-right: 15px;
    border: 1px solid transparent;
    transition: all 500ms ease;
}

.categories div:hover {
    border-color: silver;
    transform: scale(1.1);
}

.full-item {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000c9;
    z-index: 9999;
    overflow: auto;
}

.full-item > div {
    width: 600;
    position: relative;
    margin: 100% auto;
    padding: 40px 30px;
    background: #fff;
    border-radius: 9px;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    width: 30%;
    margin-bottom: 50px;
    background: #f5f5f5;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
}

main .item img, .full-item img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    transition: transform 500ms ease;
    cursor: pointer;
}

main .item:hover, .full-item img:hover {
    transform: scale(1.05);
}

main h2, .full-item h2,
main p, .full-item p,
main b, .full-item b{
    margin: 10px 20px;
    color: #333
}

main b,
.full-item b{
    margin: 10px 20px;
    color: #5fa36a;
}

main .add-to-cart,
.full-item .add-to-cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #ca5252;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    transition: transform 500ms ease;
}

main .add-to-cart:hover,
.full-item .add-to-cart:hover {
    transform: scale(1.5) translateY(-5px);
}

footer {
    text-align: center;
    margin-top: 100px;
}